
.bordering {
  border: 1px solid darkgrey;
	padding: 0.2em 0.7em;
	margin: 1em 2em;
	width: 325px;
}

.backcolor {
  background-color: #b3b3ff;
	margin: 0em 0.4em;
}

#button {
	background-color: rgb(253, 0, 97);
 	border: none;
 	border-radius: 5px;
 	color: white;
 	padding: 15px 10px;
 	text-align: center;
 	display: inline-block;
 	font-size: 15px;
 	font-weight: bold;
 	cursor: pointer;
 	margin: 0 0.3em;
 	width: 115px;
 	box-shadow: 1px 5px 7px black;
}

body {
	font-family: "Arial", Verdana, Arial, sans-serif;
	font-size: 100%;
	background: #e6f3ff;
}

h2 {
	color: white;
	background-color: #9998ff;
	padding: 0.1em;
	margin-top: 1em;
	margin-bottom: 0;
	font-size: 22pt;
}

form {
	margin: 0 auto;
	width: 100%;
	background-color: rgb(192, 197, 230);
}

fieldset {
	padding: 0 1em 1em 1em;
	border:0;
	margin-right: auto;
	margin-left: auto;
}

section {
	background: white;
	margin: 1em auto;
	border: 1em solid white;
	width: 700px;
}

td {
	padding: 1.5em 1em 1.5em 1em;
	text-align: left;
}
